/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.DS_Store
/composer.phar
/composer-setup.php
/storage/api-docs/api-docs.json
/docker/database/
!/docker/database/.gitkeep
*.csv
public/assets/*
security-checker.phar
